---
layout: page
description: Win more business from a position of strength
ext-header-img: 'https://lh3.googleusercontent.com/ZsXnjyRKs_qgm1GdmLhNaX8hKZcWBBJq8TesFpAJrbKL1KdYTM6sqOQ8mulwzkpW5Lqre8Hjabvows9fGvMiZUaBYTKklQhLqHSw2zXhMYcZRSKpHW6HqgHksTaBXXWB7EpFpAxHFHYj0oQzwZB7e8XF7wJWij2ihzNvffku14k_TFFTUxaK0PLy7IGPpdzEAbLKIjQsEeI0Dyod3c01xjIn_eW9IXn_9_JVoGG4EuINXEpnDdoSwIH770r0FHRjynbGu8G6gZT6fKDq0UatHLNfm6QAcYh1vGUcOfJ64g6iuGJKa4mtUSu6lPcVXC38JXMOF-L3niABosCz2MAbRGoTEysHhtygKtIl6jMTwXRY3tbUiwrHvsJgdeD-eoB4SSJOI2cd_9lYvUdm5u7ELG9dHxhanJJ-O4MIbEwvjdi-WTRW7BZvf6oKr37FVlat5mLNgRjQ0zVCAL-V7NFnlYiQNllVndX1bVoKn-SC-MlzvX_hj5YzQ9qiAqS4DsHL_MIoaou3woFbL7duM3o-Vp7-e7Keg9bHJl7-1h7EyjBQxpEwoEcUwYsN5yx9VAKdYrLaHTkyKbG7AnvXLaX-j7RpqMMOAm89G0bUHO4eKXex7R11=w1664-h936-no'
---
<h2>No more waiting for IT</h2>
<div>3 days to online super powers</div>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
